[buildout]
parts = 
    fise-download
    fise-instance
    tests
    py
    
develop = .
versions = versions

[versions]
# the package and buildout is tested using this versions of its dependencies.
# you may use other versions on your own risk  
collective.recipe.template = 1.8
distribute = 0.6.14
hexagonit.recipe.download = 1.4.1
interlude = 1.1.1
restkit = 2.3.3
simplejson = 2.1.2
SPARQLWrapper = 1.4.1
SuRF = 1.1.3-r281
surf.rdflib = 1.0.0-r280
surf.sparql-protocol = 1.0.0-r280
z3c.recipe.scripts = 1.0.1
zc.recipe.egg = 1.3.2
zc.recipe.testrunner = 1.4.0
zope.exceptions = 3.6.1
zope.interface = 3.6.1
zope.testrunner = 4.0.0
        
[fise-download]
recipe = hexagonit.recipe.download
filename = eu.iksproject.fise.launchers.lite.jar
url = http://dl.dropbox.com/u/5743203/IKS/snapshots/eu.iksproject.fise.launchers.lite-0.9-20101022.jar    
download-only = true
    
[fise-instance]
recipe = collective.recipe.template
input = ${buildout:directory}/fise-instance.in
output = ${buildout:bin-directory}/fise-instance
mode = 770

[tests]
recipe = zc.recipe.testrunner
eggs = fise.client[test]
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']

[py]
recipe = zc.recipe.egg
eggs =
    fise.client
interpreter = py
